body {
	height: 100vh;
    font-weight: 600;
	font-size: 15px;
    background-color: #ffffff;
	color: rgb(1, 1, 1);
	font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	justify-content: center;
	margin: 0;
}

.title {
	padding: 16px 24px;
	width: 220px;
	font-weight: 600;
	font-size: 15px;
	border: none;
	outline: none;
	color: rgb(255, 255, 255);
	background: rgb(0, 0, 0);
}

.btn {
	padding: 16px 24px;
    margin: 10px 0px;
	width: 240px;
    font-weight: 600;
    font-size: large;
	border: none;
	outline: none;
	color: rgb(255, 255, 255);
	background: rgb(0, 0, 0);
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.btn:before {
	content: "";
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	opacity: 0.6;
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing-btn 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

@keyframes glowing-btn {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.btn:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
	left: 0;
	top: 0;
	border-radius: 10px;
}

.btn:hover {
	box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
	transform: translateY(-2px);
	transition: 100ms;
}

#data {
    position: absolute;
	display: flex;
	flex-direction: column;
	text-align: end;
	gap: 12px;
    top: 20px;
    right: 20px;
}

#deployBtn {
	display: none;
}

.github {
	position: absolute;
	display: flex;
	align-items: center;
	top: 15px;
	left: 20px;
	font-size: 15px;
}

.github a {
	position: relative;
	display: inline-block;
}

.github .tooltip {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	left: 50px;
}

.github:hover .tooltip {
	visibility: visible;
}

a {
	text-decoration: none;
	color: inherit;
}

.social {
	position: absolute;
	align-content: center;
	bottom: 20px;
	font-family: sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: #003641;
}

.social .name {
	color: #000000;
}

/* // deployed contract address */
#deployedContract {
	margin-top: 16px;
	font-size: large;
}

/* toast */

#toast {
	visibility: hidden;
	margin: 0px;
	min-width: 200px;
	font-size: 18px; 
	font-weight: 600;
	border: none;
	outline: none;
	height: 20px;
	background-color: rgb(46, 46, 46);
	 color: #fff; 
	 text-align: center;
	 border-radius: 2px;
	 padding: 12px;
	 position: fixed;
	 z-index: 1;
	 bottom: 0px;
	 left: 10px;
	 border-radius: 10px 10px 0px 0px;
	 cursor: pointer;
   }
   
   /* Show the toast when clicking on a button (class added with JavaScript) */
   #toast.show {
	visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s 5s;
	animation: fadein 0.5s, fadeout 0.5s 5s;
   }
   
   /* Animations to fade the toast in and out */

   @-webkit-keyframes fadein {
	 from {bottom: 0; opacity: 0;}
	 to {bottom: 8px; opacity: 1;}
   }
   
   @keyframes fadein {
	   from {bottom: 0; opacity: 0;}
	   to {bottom: 8px; opacity: 1;}
	 }

   @-webkit-keyframes fadeout {
	from {bottom: 0px; opacity: 1;}
	to {bottom: -10px; opacity: 0;}
   }
   
   @keyframes fadeout {
	   from {bottom: 0px; opacity: 1;}
	   to {bottom: -10px; opacity: 0;}
	  }